#Wed Aug 21 12:57:01 IST 2024
mail.smtp.other.host=
mail.smtp.username=ENC1(7pacSfbe6cSapp2KoGVtEx4Q6kKONZVF0p+8BFc2qzGWQQyXgEvoasCrurHphOqe0lG9dflB4OEwUW6sjnooYJMpn1cdAVnwJ1+rUrQ3jFs\=)
mail.smtp.port=587
mail.smtp.toEmail=ENC1(0UddaRoDzIYj+0whxgzfq2p3SwgvR+W12olWpOyFAkarDv887deRL9V/5Q22LS6TOI8UxQtuJHTKcwEG0/ZhTQ\=\=)
mail.smtp.other.port=
mail.smtp.password=ENC1(+D8/zXyStlNlfTmt8fuv2PUay5qfqusjlxQOPclY1jCT7L1RkjiC02LDMTPArJETLCPtoseLn06sRmPPmC851g\=\=)
mail.smtp.starttls.enable=false
mail.smtp.host=smtp.gmail.com
mail.smtp.ssl.enable=false
mail.smtp.starttls.required=false
mail.smtp.timeout=60000
Encryptor.check=Provar
